<launch>
  <!-- Start the GSCAM node -->
<arg name="cam_name" value="creative_cam" />

  <env name="GSCAM_CONFIG" value="v4l2src device=/dev/video1 ! video/x-raw-yuv,framerate=30/1,width=640,height=480 ! ffmpegcolorspace " />
  <node pkg="usb_cam" type="usb_cam_node" name="$(arg cam_name)">
  </node>

  <node pkg="kuchbhi_assignment_4" type="motion_node" name="motion_node">
  </node>

   <node pkg="kuchbhi_assignment_4" type="motion_mode_keyboard" name="motion_mode_keyboard" output="screen">
  </node>

</launch>